<%= form_with(model: @post, local: true) do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form.label :description %>
        <%= form.text_area :description, class: 'form-control' %>

        <%= form.label :image %>
        <%= form.text_field :image, class: 'form-control' %>

        <%= form.submit "Add post", class: "btn btn-primary" %>
      <hr>
      <%= link_to 'Back', posts_path %>
    </div>
  </div>

<% end %>